h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#guessButton {
    width: 100px;
    height: 50px;
    font-size: 15px;
}

#userGuess {
    width: 225px;
    height: 44px;
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#randomNumberResult {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

* {
    font-family: "JetBrains Mono", monospace;
}

/* Mobile Optimizations */
@media (max-width: 768px) {
    h1 {
        font-size: 23px;
        margin-top: 280px;
    }

    #guessButton, #userGuess {
        width: 50%; /* Full width of screen with padding */
        font-size: 14px;
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #randomNumberResult {
        padding-top: 10px;
        font-size: 12px;
    }
}
